@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
}

/* https://tweakcn.com/r/themes/mono.json */
:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(0 0% 3.92%);
  --primary: hsl(0 0% 45.10%);
  --primary-foreground: hsl(0 0% 98.04%);
  --secondary: hsl(0 0% 96.08%);
  --secondary-foreground: hsl(0 0% 9.02%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsl(0 0% 3.92%);
    --foreground: hsl(0 0% 98.04%);
    --primary: hsl(0 0% 45.10%);
    --primary-foreground: hsl(0 0% 98.04%);
    --secondary: hsl(0 0% 14.90%);
    --secondary-foreground: hsl(0 0% 98.04%);
  }
}
